
.App-root {
  min-height: 100vh;
  background: linear-gradient(0deg, #DCEDFC 0%, #ffffff 100%);
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
}

ul {
  margin: 0.5rem 0;
  padding-inline-start: 1.5rem;
}
